<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="css/home_edite.css">
       
        <title>home</title>
    </head>
    <body>
        <a href="/index">index</a>
        <h1>Bem vindo <%= user.nome%>!</h1>
        <textarea name="comment"  placeholder="comentar"></textarea><br><br>
        <button onclick="comentar()">postar</button>
        <script src="javascript/home.js"></script>
    </body>
</html>