body{
    background: linear-gradient(to right, #E2EDF3 ,#2A5065);
    font-family: arial; 
}

a{
  background-color:  dodgerblue ;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black ;
}

a:hover{
  background-color: #9AC0D5;

}

.grid{
  display: grid;
}

.card{
  margin: 5px;
  text-align:justify;
  background: #2a506581 ;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.card button{
  background-color: dodgerblue;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  bottom: 8px;
  position: relative;

}

.card button:hover{
  background-color: #9AC0D5;
}

#delete{
  background-color: rgb(136, 21, 40);
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  bottom: 8px;
  position: relative;
}

#delete:hover{
  background-color: rgb(255, 30, 68) ;
}